<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  </style>
  <title>{{ page.title }}</title>
</head>
<body>
<div class="container">
<header>
<div class="jumbotron">
  <h1>{{ page.title}}</h1>
  <p class="lead">Science, Art, Voodoo: Using and Developing The Graal Compiler</p>
</div>
</header>
{{ content }}
</body>
</html>